aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altgraph==0.17.4
attrs==25.3.0
audioop-lts==0.2.2
discord.py==2.6.0
et_xmlfile==2.0.0
frozenlist==1.7.0
idna==3.10
multidict==6.6.4
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pandas-stubs==2.3.2.250827
propcache==0.3.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
yarl==1.20.1
